.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}

/* .form {
} */

form {
    margin: 0 auto;
}

form div:nth-child(2n+1) {
    background-color: rgb(209, 209, 209);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 100px;
    margin: 5px;
}

.form-group {
    display: flex;
    align-items: center;
}
.form-group label {
    width: 220px;
    margin-left: 5px;
}

.form-group input {
    width: 100%;
    height: 26px;
    margin: 5px;
}

.added-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.class-group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid #000;
}

.class-group div {
    flex: 1;
}

.btn {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 5px;
    width: 100px;
    background-color: rgb(25, 91, 145);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    display: block;
}

span.disable-links {
    pointer-events: none;
    width: 100px;
    height: 16px;
}
span.disable-links a {
    background-color: gray;
}